<?xml version="1.0"?>
<Config>
  <checkBoxPrefix>false</checkBoxPrefix>
  <Prefix>++</Prefix>
  <Domains>
    <value>http://wwwidea4con.eu.boehringer.com<value>aaaaaa</value></value>
    <value>http://wwwidea5</value>
    <value>http://wwwidea6</value>
    <value>aaaaaaa</value>
  </Domains>
</Config>